MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_SSL=false
SHOPIFY_STORE_URL=electronica-vicente.myshopify.com
SHOPIFY_ACCESS_TOKEN=
SYNC_WRITE_SECRET=
SYNC_ALLOWED_CUSTOMER_ID=
